 <html>
  <head></head>
  <body>
    <h1><%=@returned_album.title%></h1>
    <p>
       Release year: <%=@returned_album.release_year%><br>
       Artist: <%=@returned_artist.name%>
    </p>
  </body>
 </html> 


