<html>
  <head></head>
  <body>
    <h1>Albums</h1>

    <% @albums.map do |album| %>
    <div><br>Title: <%= album.title %><br>Release year: <%= album.release_year %><br></div>
      <% end %>
    </div>

  </body>
</html>

